<div class="jumbotron jumbotron-fluid" style="
    padding-top: 10px;
    padding-bottom: 10px;">
    <div class=" container text-center">
        <h1 class="display-3">{{title}}</h1>
        <p class="lead">Plant Companion is a simple, straight-forward,</p>
        <p>database/directory with relationships between all SORTS of plants!</p>
        <p>Plant Companion makes it easy to find what you should, </p>
        <p>or shouldn't grow alongside each other in order to have </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col text-center">
            <div class="row">
                <div class="col">
                    <hr class="my-2">
                    <p>Search for plants</p>
                    <p class="lead">
                        <a class="btn btn-secondary btn-lg" href="/search" role="button">Search</a>
                    </p>
                </div>
                <div class="col">
                    <hr class="my-2">
                    <p>Browse plants</p>
                    <p class="lead">
                        <a class="btn btn-warning btn-lg" href="/plants" role="button">Browse</a>
                    </p>
                </div>
            </div>

        </div>
        <div class="col-2"></div>
    </div>
</div>