<div class="container">
    <div class="row">
        {{#if edit}}
            {{#each plant}}
                {{> edit}}
            {{/each}}
        {{else}}
            {{#each plant}}
                {{> plant}}
            {{/each}}
        {{/if}}
    </div>
</div>